!!!
html
  head
    title Welcome to the Velodrone
    link(rel='stylesheet', href='/stylesheets/style.client.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/sb.js?v2')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/player.js')
    script(src='/javascripts/client.js')
  body
    div#stage
      div#popup
        p Connected :)
