!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.host.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/player.js')
    script(src='/javascripts/three.js')
    script(src='/javascripts/RequestAnimationFrame.js')
    script(src='/javascripts/cube.js')
    script(src='/javascripts/soundmanager/script/soundmanager2.js')
    script(src='/javascripts/host-mappings.js')
    script(src='/javascripts/soundobject.js')
    script(src='/javascripts/host.js')
  body
    h1= title
    p Welcome to #{title}
    div#stage
      div#popup
        p connection lost
