body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

a {
  color: #00B7FF;
}

#stage {
	position:absolute;
	top:50%; left:50%;
	width:700px; height:700px;
	margin-top:-350px; margin-left:-350px;
	-webkit-border-radius:8px;
}


html {
	width: 100%;
	height: 100%;
}

.bg-colors {
	width: 100%;
	height: 100%;
	display: block;
}

.bg-colors-overlay {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	-moz-opacity: 0;
	opacity: 0;
}

.bg-color1 {
	background-color: #00A0B0;
}

.bg-color2 {
	background-color: #6A4A3C;
}

.bg-color3 {
	background-color: #CC333F;
}

.bg-color4 {
	background-color: #EB6841;
}

.bg-color5 {
	background-color: #EDC951;
}

body p {
	color: transparent;
}